div {
}
.logo {
  margin-left: 100px;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
.search {
  max-width: 550px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.search .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 90px;
  font-weight: bold;
}

.searchbtn {
  background: #18bbdc;
  width: 10%;
  border-radius: 5px;
  cursor: pointer;
}

.searchbtn .fas {
  font-size: 18px;
}
.cart {
}
.button2 {
  background-color: rgb(64, 158, 241);
  color: black;
  border: 2px solid #008cba;
}

.button2:hover {
  background-color: #008cba;
  color: white;
}
.button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.coverbuku {
  border: 2px solid rgb(57, 178, 226);
  border-radius: 5px;
  padding: 50px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
}
.text {
  padding-left: 70px;
  padding: 100px;
  background-color: rgb(57, 178, 226);
  border-radius: 5px;
}
.nav {
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}
